html,body{
  height: 100%;
}
body{
  background-image: url(bgpictfix.jpg);
  background-position: center;
  background-size: cover; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border: 2px solid #777;
  
}
li{
  float: right;

}
li a{
	   display: block;
  	padding: 14px 16px;
   	text-decoration: none;
   	color: #D4AF37;
       font-family: "Lucida Console", Lucida, monospace;
       font-style: bold;

   }
.lambang{
  float: left !important;
  padding: 14px 16px;
  text-decoration: none;
  color: #D4AF37;
  font-family: "Lucida Console", Lucida, monospace;
  font-style: bold;
}
a:hover{
	background-color: #555;
	color: white;
}
a.lambang:hover{
  background-color: #333;
  color: black;
}
.tulisan{
  margin-left: 23%;
  margin-right: 23%;
  margin-top: 10%;
  margin-bottom: 5%;
  background-color:black
    
}
.header{
  text-align: center;
  padding: 8px 8px;
  font-size: 100px;
  color:#D4AF37;
  font-style: bold;
}
.biasa{
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2px 2px;
  color: rgb(150,150,150);
}
.newshead{
  text-align: center;
  margin-top: 5%;
  /* padding: 0px 2px; */
  font-size: 30px;
  color: #D4AF37;
  font-style: bold;
  
}
.gambar{
  object-position: center;
  margin-left: 30%;
  margin-right: 35%;
}
.footer {
   position: fixed;
   overflow: hidden;
   height: 5%;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
  color:#D4AF37;

   text-align: left;
   border: 2px solid black;
}
/#container{
  min-height: 100%;
  position: relative;
}
#footer {
    height:50px;
    line-height:50px;
    background:black;
    color:#D4AF37;
    position:absolute;
    bottom:0px;
    width:100%;
}